<div class="subnav">
          <ul class="nav nav-pills">
            <li class=""><a href="#profile">Profile</a></li>
            <li class=""><a href="#badges">Badges</a></li>
            <li class=""><a href="#friends">Friends</a></li>            
          </ul>
        </div>