<div class="subnav">
          <ul class="nav nav-pills">
            <li class=""><a href="#users">Find Users</a></li>
            <li class=""><a href="#venue">Find Venues</a></li>         
          </ul>
        </div>