body{
padding-top: 80px;
padding-bottom: 200px;
background: #9fd8ef; /* Old browsers */
background: -moz-linear-gradient(top,  #9fd8ef 0%, #bfe8f9 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fd8ef), color-stop(50%,#bfe8f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9fd8ef 0%,#bfe8f9 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9fd8ef 0%,#bfe8f9 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9fd8ef 0%,#bfe8f9 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9fd8ef 0%,#bfe8f9 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fd8ef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

background-repeat: no-repeat;

}



@import "bootstrap";
@import "bootstrap-responsive";


